# Ignore node_modules in the backend
/backend_express/node_modules/*

# Ignore node_modules in the frontend
/frontend/node_modules/*

# Ignore Java related files in the backend_springboot
/backend_springboot/target/
/backend_springboot/*.log
/backend_springboot/*.class
/backend_springboot/*.jar
/backend_springboot/*.war
/backend_springboot/*.iml
/backend_springboot/.idea/

/backend_springboot/src/main/resources/application.properties
